<!-- <h1>Enter a new Ridemetrics estimate here</h1> -->
<!-- <%= form_for  @location do |f| %> -->


      <div class="form-group">
        <%= f.label :address %>
        <%= f.text_field :address, class: 'form-control', placeholder: "Enter your end point" , step: :any%>
      </div>

      <!-- <%= f.submit "Submit", class: 'btn btn-success' %> -->
<!-- <%end%> -->
