/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import 'bootstrap-sprockets';
 @import "bootstrap";

 .navbar{
   background: black;
   text-align: right;
   padding-right: 10px;
   padding-top: 10px;
   color: white;
   border-bottom: 2px solid blue;
 }

.navbar .home-button{
   float: left;
   padding-left: 10px;


 }

.navbar a {
  color: #FFFFFF;
}

.navbar a:hover{
  color:blue;
  text-decoration: none;
}

body{
  background: #e8eaed;
}

 .sign_up {
   background: white;
   width: 400px;
   height: 400px;
   text-align: center;
   border: 2px solid blue;
   border-radius: 25px;
   margin: auto;


 }

 .sign_up .actions {
   padding-top: 5px;


 }

 .sign_up .shared_links {
   padding-top: 10px;
 }
